.ant-modal-content {
  max-height: 800px;
  display: flex;
  flex-direction: column;
  .ant-modal-body {
    flex: 1;
    height: 0;
    overflow: auto;
  }
}
.wl-modal {
  .ant-modal-header {
    border-bottom: none;
    .title-icon {
      margin-top: 10px;
      font-size: 30px;
      color: #faad14;
      position: relative;
      top: 3px;
    }
  }
  .ant-modal-body {
    font-size: 16px;
    padding: 24px 30px;
  }
  .ant-modal-footer {
    border-top: none;
    margin-bottom: 10px;
  }
}
