$primaryActiveColor: #2478B8;
//输入框
.clr-input {
  height: 36px;
  //min-width: 300px;
  line-height: 36px;
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  border-color: #e6e6e6;
  padding: 0 15px;
  &:focus,
  &:hover {
    border-color: $primaryActiveColor;
  }
  &:disabled {
    background-color: #f5f7fa;
    border-color: #e4e7ed;
    color: #c0c4cc;
    cursor: not-allowed;
  }
  &.lager {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
  }
  &.small {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
  }
}
