language: node_js
node_js:
  - "stable"
addons:
  apt:
    packages:
      - sshpass
cache:
  directories:
    - node_modules
script:
  - npm run test:coverage
  - npm run build:staging
#deploy:
#  provider: pages
#  skip_cleanup: true
#  github_token: $GITHUB_TOKEN
#  local_dir: build
#  on:
#    branch: master
after_success:
  # https://github.com/8427003/book/blob/master/.travis.yml
  - sshpass -p $DEPLOY_PASS scp -o stricthostkeychecking=no -r ./build/* $DEPLOY_USER@$DEPLOY_HOST:$DEPLOY_PATH

after_script: # Upload coverage reports
  - COVERALLS_REPO_TOKEN=$COVERALLS_REPO_TOKEN npm run coveralls
