$primaryActiveColor: #2478B8;
.clr-with-spinner-wrapper {
  position: relative;
  .inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .7);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
    box-sizing: border-box;
    >span {
      color: $primaryActiveColor;
    }
  }
}
