.clr-form-item {
  margin-bottom: 26px;
  display: flex;
  .clr-form-item-label {
    display: flex;
    align-items: center;
    margin-right: 5px;
  }

  .clr-form-item-children {
    flex: 1;
    position: relative;
    input {
      width: 100%;
    }
  }

  .clr-form-label {
    display: block;
    padding: 9px 15px;
    width: 80px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
  }

  .error-message {
    position: absolute;
    left: 0;
    height: 26px;
    line-height: 24px;

    > span {
      color: red;
      font-size: 12px;
    }
  }
}
