.clr-error-tip {
  text-align: center;
  padding: 5px 7px;
  box-sizing: border-box;
  background-color: #c72100;
  color: #fff;
  font-size: 14px;
  &.small {
    padding: 3px 5px;
    font-size: 12px;
    .retry-button {
      padding: 3px 5px;
    }
  }
  &.tip-enter-active {
    animation-name: bounceIn;
    animation-duration: 500ms;
  }

  &.tip-exit-active {
    animation-name: bounceOut;
    animation-duration: 500ms;
  }

  .retry-button {
    margin-left: 10px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 5px 7px;
    color: #fff;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, .15);
    }
  }
}
