.clr-message-container {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: transparent;
  pointer-events: none;
  z-index: 1002;
  .clr-message-body {
    margin-top: 10px;
    background-color: #EDF2FC;
    border-width: 1px;
    border-style: solid;
    border-color: #6f747f;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 3px;
    color: #575757;
    animation-name: bounceIn;
    animation-duration: 0.75s;
    &.out {
      animation-duration: 0.75s;
      animation-name: bounceOut;
      animation-fill-mode: forwards;
    }
    &.error {
      background-color: #f5dddb;
      border-color: #f8b5b4;
    }

    &.warning {
      background-color: #fef3b4;
      border-color: #fdd008;
    }

    &.success {
      background-color: #dff0d0;
      border-color: #61b715;
    }
    &.info {
      background-color: #e0f0f6;
      border-color: #45afd9;
    }
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50%,
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}
