.clr-message-container {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: transparent;
  pointer-events: none;
  z-index: 1002;
  word-break: break-all;
  .clr-message-body {
    pointer-events: all;
    max-height: 600px;
    overflow-y: auto;
    margin-top: 10px;
    background-color: #EDF2FC;
    border-width: 1px;
    border-style: solid;
    border-color: #6f747f;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 3px;
    color: #575757;
    animation-name: bounceIn;
    animation-duration: 0.75s;
    &.out {
      animation-duration: 0.75s;
      animation-name: bounceOut;
      animation-fill-mode: forwards;
    }
    &.error {
      background-color: #f5dddb;
      border-color: #f8b5b4;
    }

    &.warning {
      background-color: #fef3b4;
      border-color: #fdd008;
    }

    &.success {
      background-color: #dff0d0;
      border-color: #61b715;
    }
    &.info {
      background-color: #e0f0f6;
      border-color: #45afd9;
    }
  }
}

