.router-outlet {
  flex: 1;
  height: 0;
  overflow: hidden;
  .frame-content {
    background-color: #fff;
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
  }
}
