.clr-modal-container {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  .clr-modal-wrapper {
    background-color: #fff;
    padding: 20px;
    min-width: 200px;
    min-height: 100px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,.2);
    .clr-modal-header {
      display: flex;
      justify-content: space-between;
      .title {
        flex: 1;
        width: 0;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        font-size: 16px;
        color: #000;
      }
    }
  }
}
