.clr-modal-container {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1001;
  .clr-modal-wrapper {
    background-color: #fff;
    min-width: 200px;
    max-height: 100%;
    border-radius: 5px;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,.2);

  }
  .clr-modal-header {
    display: flex;
    justify-content: space-between;
    //margin-bottom: 10px;
    padding: 15px 20px;
    box-sizing: border-box;
    .title {
      flex: 1;
      width: 0;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
      font-size: 16px;
      color: #000;
    }
  }
  .clr-modal-inner-body {
    font-size: 14px;
    color: #575757;
    max-width: 600px;
    max-height: 800px;
    width: 300px;
    display: flex;
    flex-direction: column;

  }
  .clr-modal-inner-content {
    flex: 1;
    height: 0;
    overflow-y: auto;
    padding: 0 20px;

  }
  .clr-modal-inner-footer {
    padding: 15px 20px;
    box-sizing: border-box;
    text-align: right;
  }
}
