$primaryActiveColor: #2478B8;
.clr-radio {
  vertical-align: middle;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  margin-right: 10px;
  padding: 0 5px;

  &::before {
    position: absolute;
    top: 2px;
    left: 0;
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid #ccc;
    border-radius: 50%;
  }

  > span {
    margin-left: 20px;
    font-size: 14px;
    color: #868686;
    transition: color .3s;
  }

  > i {
    position: absolute;
    top: 7px;
    left: 5px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $primaryActiveColor;
    opacity: 0;
    transform: scale(0);
    transition: opacity .3s, transform .3s;
  }

  input[type="radio"]:checked {
    & + i {
      opacity: 1;
      transform: scale(1);

      & + span {
        color: $primaryActiveColor;
      }
    }
  }

  &.disabled {
    opacity: .6;
    cursor: not-allowed;
  }

}
