$spinnerLargeSize: 72px;
$spinnerNormalSize: 36px;
$spinnerSmallSize: 18px;
.clr-spinner {
  display: inline-block;
  vertical-align: middle;
  height: $spinnerNormalSize;
  width: $spinnerNormalSize;
  animation: 1s linear infinite spin;

  &.large {
    height: $spinnerLargeSize;
    width: $spinnerLargeSize;
  }

  &.small {
    height: $spinnerSmallSize;
    width: $spinnerSmallSize;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
