/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";
//@import "./style/button";
//@import "./style/table";

* {
  outline: none;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

//表单
.clr-form {
  .clr-form-item {
    margin-bottom: 15px;
  }

  .clr-form-label {
    display: block;
    padding: 9px 15px;
    width: 80px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
  }
}

//输入框
.clr-input {
  height: 38px;
  line-height: 1.3;
  line-height: 38px \9
;
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
  border-radius: 2px;
  border-color: #e6e6e6;
  padding: 0 10px;
}

//alert
.clr-alert {
  letter-spacing: normal;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: auto;
  margin-top: 10px;
  border-radius: 3px;
  padding: 5px;
  font-size: 12px;
  background: #e0f0f6;
  color: #575757;
  border: 1px solid #45afd9;

  &.clr-alert-danger {
    background: #f5dddb;
    color: #575757;
    border: 1px solid #f8b5b4;
  }
}


.clr-checkbox {
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0 5px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    height: 100%;
    width: 20px;
    border-right: 1px solid #ccc;
  }

  > span {
    margin-left: 20px;
    font-size: 14px;
    color: #868686;
    transition: color .3s;
  }

  > i {
    position: absolute;
    top: 8px;
    left: 2px;
    display: block;
    width: 14px;
    height: 6px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    background-color: #00aaff;
    opacity: 0;
    transform: scale(0);
    transition: opacity .3s, transform .3s;
  }

  input[type="checkbox"]:checked {
    & + i {
      opacity: 1;
      transform: scale(1);

      & + span {
        color: #00aaff;
      }
    }
  }

}

.clr-radio {
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  margin-right: 10px;
  padding: 0 5px;

  &::before {
    position: absolute;
    top: 2px;
    left: 0;
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid #ccc;
    border-radius: 50%;
  }

  > span {
    margin-left: 20px;
    font-size: 14px;
    color: #868686;
    transition: color .3s;
  }

  > i {
    position: absolute;
    top: 7px;
    left: 5px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00aaff;
    opacity: 0;
    transform: scale(0);
    transition: opacity .3s, transform .3s;
  }

  input[type="radio"]:checked {
    & + i {
      opacity: 1;
      transform: scale(1);

      & + span {
        color: #00aaff;
      }
    }
  }

}
