/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";
//@import "./style/button";
//@import "./style/table";

* {
  outline: none;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

//表单
.clr-form {
  background-color: #fff;
  padding: 10px;
  .clr-form-item {
    margin-bottom: 20px;
    box-sizing: border-box;
  }

  .clr-form-label {
    display: block;
    padding: 9px 15px;
    width: 80px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
  }
  .clr-validate-field {
    margin-top: 5px;
    color: red;
  }
}
