$lightTextColor: #ffffff;
$darkTextColor: #868686;
$normalColor: #dcdfe6;
$primaryColor: #0077b8;
$successColor: #2e8500;
$dangerColor: #e02200;
$warningColor: #DFA100;


$deepNormalColor: #ececec;
$deepPrimaryColor: #004c8a;
$deepSuccessColor: #276b00;
$deepDangerColor: #c72100;
$deepWarningColor: #C47D00;

$tintNormalColor: #F3F6FA;
$tintPrimaryColor: #e0f0f6;
$tintSuccessColor: #dff0d0;
$tintDangerColor: #f5dddb;
$tintWarningColor: #FFFCE8;

$buttonLargeHeight: 38px;
$buttonNormalHeight: 32px;
$buttonSmallHeight: 26px;

// 按钮
.clr-button {
  cursor: pointer;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid $normalColor;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: transparent;
  color: $darkTextColor;
  line-height: $buttonNormalHeight;
  height: $buttonNormalHeight;
  font-size: 12px;
  padding: 0 15px;
  &.clr-button-small {
    line-height: $buttonSmallHeight;
    height: $buttonSmallHeight;
    font-size: 10px;
    padding: 0 10px;
  }
  &.clr-button-large {
    line-height: $buttonLargeHeight;
    height: $buttonLargeHeight;
    font-size: 14px;
    padding: 0 20px;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: .5;
    background-color: transparent;
    box-shadow: none;
  }

  &:hover {
    text-decoration: none;
    background-color: $deepNormalColor;
    color: $darkTextColor;
  }

  &.clr-button-primary {
    border-color: $primaryColor;
    background-color: $primaryColor;
    color: $lightTextColor;
    &.clr-outline {
      color: $primaryColor;
      background-color: transparent;
      &:hover {
        background-color: $tintPrimaryColor;
        color: $primaryColor;
      }
    }
    &:hover {
      background-color: $deepPrimaryColor;
      color: $lightTextColor;
    }
  }

  &.clr-button-success {
    border-color: $successColor;
    background-color: $successColor;
    color: $lightTextColor;
    &.clr-outline {
      color: $successColor;
      background-color: transparent;
      &:hover {
        background-color: $tintSuccessColor;
        color: $successColor;
      }
    }
    &:hover {
      background-color: $deepSuccessColor;
      color: $lightTextColor;
    }
  }

  &.clr-button-danger {
    border-color: $dangerColor;
    background-color: $dangerColor;
    color: $lightTextColor;
    &.clr-outline {
      color: $dangerColor;
      background-color: transparent;
      &:hover {
        background-color: $tintDangerColor;
        color: $dangerColor;
      }
    }
    &:hover {
      background-color: $deepDangerColor;
      color: $lightTextColor;
    }
  }

  &.clr-button-warning {
    border-color: $warningColor;
    background-color: $warningColor;
    color: $lightTextColor;
    &.clr-outline {
      color: $warningColor;
      background-color: transparent;
      &:hover {
        background-color: $tintDangerColor;
        color: $warningColor;
      }
    }
    &:hover {
      background-color: $deepWarningColor;
      color: $lightTextColor;
    }
  }
  &.clr-outline {
    &:hover {
      background-color: $tintNormalColor;
      color: $darkTextColor;
    }
  }
  &.clr-button-block {
    display: block;
    width: 100%;
    max-width: 100%;
  }
}
