@import '~rc-tree-select/assets/index.css';

.rc-tree-select {
  width: 100%;
  .rc-tree-select-selection--multiple {
    min-height: 36px;
  }
  .rc-tree-select-selection__rendered {
    margin-top: 3px;

  }
  .rc-tree-select-search__field__placeholder {
    margin-top: 5px;
    margin-left: 5px;
    color: #777;
  }

}
.rc-tree-select-enabled.rc-tree-select-focused .rc-tree-select-selection {
  border-color: #2478B8;
  box-shadow: none;
}
.rc-tree-select-enabled .rc-tree-select-selection:hover {
  border-color: #2478B8;
  box-shadow: none;
}
.rc-tree-select-tree li {
  padding: 7px 0;
  box-sizing: border-box;

}
.rc-tree-select-dropdown {
  z-index: 1002;

  .rc-tree-select-tree-title {
    cursor: pointer;
  }

}

