$primaryActiveColor: #2478B8;
.clr-select {
  height: 36px;
  //min-width: 300px;
  line-height: 36px;
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  border-color: #e6e6e6;
  padding: 0 15px;
  position: relative;
  top: 0;
  left: 0;
  &:active,
  &:hover {
    border-color: $primaryActiveColor;
  }
  .clr-values {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .clr-select-popup {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 40px;
    left: 0;
    height: 160px;
    width: 100%;
    z-index: 1;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 4px #d9d9d9;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    overflow-y: auto;
    >li {
      padding: 3px 10px;
      cursor: pointer;
      &.active,
      &:hover {
        background-color: #ededed;
      }
    }
  }
}
