.clr-upload-wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  >li {
    height: 128px;
    width: 128px;
    background-color: #f5f5f5;
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 16px;
    vertical-align: middle;

    .action,
    .action-mask {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .action {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 60px;
    }
    .action-mask {
      background-color: rgba(0, 0, 0, .5);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .state-text {
        color: #fff;
        font-size: 14px;
      }
    }
  }

}
